#console.show(style='zoom: 1;')
  .close-btn(onclick='heo.hideConsole()' href='javascript:void(0);')
    i.fas.fa-circle-xmark
  .button-group
    .console-btn-item
      a.darkmode_switchbutton(onclick='rm.switchDarkMode()' title='显示模式切换' href='javascript:void(0);' rel='external nofollow' data-pjax-state='')
        i.fas.fa-moon(style='font-size: 1rem;')
    #consoleHideAside.console-btn-item(onclick='heo.hideAsideBtn()' title='边栏显示控制')
      a.asideSwitch(data-pjax-state='')
        i.fas.fa-arrows-alt-h
    #consoleKeyboard.console-btn-item(onclick='heo.keyboardToggle()' title='快捷键开关')
      a.keyboard-switch(data-pjax-state='')
        i.fas.fa-keyboard
    #assist-open.console-btn-item(onclick='heo.hideConsole()' title='无障碍工具栏')
      a.assist-btn(data-pjax-state='')
        i.fas.fa-wheelchair
    #consoleCommentBarrage.console-btn-item(onclick='heo.switchCommentBarrage()' title='热评开关')
      a.commentBarrage(data-pjax-state='')
        i.fa-solid.fa-message
    #consoleMusic.console-btn-item(onclick='heo.musicToggle()' title='音乐开关')
      a.music-switch(data-pjax-state='')
        i.fas.fa-music
  .console-mask(onclick='heo.hideConsole()' href='javascript:void(0);' rel='external nofollow')
