#banners
  .banners-title
    .banners-title-big 分享设计
    .banners-title-big 与科技生活
    .banners-title-small GTC-BLOG
  .tags-group-all
    .tags-group-wrapper
      .tags-group-icon-pair
        .tags-group-icon(style='background:#989bf8')
          img(src='https://img.zhheo.com/i/2022/08/22/6302f0748a83b.png' title='AfterEffect' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'")
        .tags-group-icon(style='background:#ffffff')
          img(src='https://img.zhheo.com/i/2022/08/22/63030a85d6458.png' title='Sketch' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'")
      .tags-group-icon-pair
        .tags-group-icon(style='background:#57b6e6')
          img.entered.loading(src='https://img.zhheo.com/i/2022/08/22/6303102c049d1.png' title='Docker' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" data-ll-status='loading')
        .tags-group-icon(style='background:#4082c3')
          img(src='https://img.zhheo.com/i/2022/08/22/63030fe730a69.png' title='Photoshop' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'")
      .tags-group-icon-pair
        .tags-group-icon(style='background:#ffffff')
          img.entered.loading(src='https://img.zhheo.com/i/2022/08/22/630310dea00f5.png' title='FinalCutPro' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" data-ll-status='loading')
        .tags-group-icon(style='background:#ffffff')
          img(src='https://img.zhheo.com/i/2022/08/22/63031127e8e2b.png' title='Python' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'")
      .tags-group-icon-pair
        .tags-group-icon(style='background:#eb6840')
          img.entered.loading(src='https://img.zhheo.com/i/2022/08/22/630311760ca04.png' title='Swift' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" data-ll-status='loading')
        .tags-group-icon(style='background:#8f55ba')
          img.entered.loading(src='https://img.zhheo.com/i/2022/08/22/630311cf9dded.png' title='Principle' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" data-ll-status='loading')
      .tags-group-icon-pair
        .tags-group-icon(style='background:#f29e39')
          img.entered.loading(src='https://img.zhheo.com/i/2022/08/22/6303121db0410.png' title='illustrator' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" data-ll-status='loading')
        .tags-group-icon(style='background:#2c51db')
          img.entered.loading(src='https://img.zhheo.com/i/2022/08/22/630312c06cdc5.png' title='CSS3' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" data-ll-status='loading')
      .tags-group-icon-pair
        .tags-group-icon(style='background:#f7cb4f')
          img.entered.loading(src='https://img.zhheo.com/i/2022/08/22/630312f898a1c.png' title='JS' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" data-ll-status='loading')
        .tags-group-icon(style='background:#e9572b')
          img.entered.loading(src='https://img.zhheo.com/i/2022/08/22/6303132113bbb.png' title='HTML' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" data-ll-status='loading')
      .tags-group-icon-pair
        .tags-group-icon(style='background:#df5b40')
          img.entered.loading(title='Git' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/09/23/632d2d33b1e1b.webp' data-ll-status='loading')
        .tags-group-icon(style='background:#e65164')
          img.entered.loading(title='Apifox' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/09/23/632d2e083fc9b.webp' data-ll-status='loading')
      .tags-group-icon-pair
        .tags-group-icon(style='background:#989bf8')
          img.entered.exited(title='AfterEffect' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/08/22/6302f0748a83b.png')
        .tags-group-icon(style='background:#ffffff')
          img.entered.exited(title='Sketch' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/08/22/63030a85d6458.png')
      .tags-group-icon-pair
        .tags-group-icon(style='background:#57b6e6')
          img.entered.exited(title='Docker' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/08/22/6303102c049d1.png')
        .tags-group-icon(style='background:#4082c3')
          img.entered.exited(title='Photoshop' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/08/22/63030fe730a69.png')
      .tags-group-icon-pair
        .tags-group-icon(style='background:#ffffff')
          img.entered.exited(title='FinalCutPro' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/08/22/630310dea00f5.png')
        .tags-group-icon(style='background:#ffffff')
          img.entered.exited(title='Python' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/08/22/63031127e8e2b.png')
      .tags-group-icon-pair
        .tags-group-icon(style='background:#eb6840')
          img.entered.exited(title='Swift' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/08/22/630311760ca04.png')
        .tags-group-icon(style='background:#8f55ba')
          img.entered.exited(title='Principle' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/08/22/630311cf9dded.png')
      .tags-group-icon-pair
        .tags-group-icon(style='background:#f29e39')
          img.entered.exited(title='illustrator' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/08/22/6303121db0410.png')
        .tags-group-icon(style='background:#2c51db')
          img.entered.exited(title='CSS3' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/08/22/630312c06cdc5.png')
      .tags-group-icon-pair
        .tags-group-icon(style='background:#f7cb4f')
          img(src='https://img.zhheo.com/i/2022/08/22/630312f898a1c.png' title='JS' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'")
        .tags-group-icon(style='background:#e9572b')
          img.entered.exited(title='HTML' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'" src='https://img.zhheo.com/i/2022/08/22/6303132113bbb.png')
      .tags-group-icon-pair
        .tags-group-icon(style='background:#df5b40')
          img(src='https://img.zhheo.com/i/2022/09/23/632d2d33b1e1b.webp' title='Git' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'")
        .tags-group-icon(style='background:#e65164')
          img(src='https://img.zhheo.com/i/2022/09/23/632d2e083fc9b.webp' title='Apifox' onerror="this.onerror=null;this.src='https://cdn.zhheo.com/Guli/others/imgerror.png'")
  a#banner-hover(onclick='toRandomPost()' data-pjax-state='')
    span.bannerText 随便逛逛
    i.fas.fa-arrow-right.banner-righticon
